.navbar-scritte{
  margin-left:5px;
}

.dimensioni{
    height: 70px;
    background: rgb(241,169,12);
background: radial-gradient(circle, rgba(241,169,12,1) 34%, rgba(253,248,22,1) 100%, rgba(254,255,23,1) 100%);
    margin-top:0px;
}